input::placeholder{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container{
    text-transform:uppercase ;
    letter-spacing: 1px;
}

button{
    text-transform:uppercase ;
    letter-spacing: 1px;
}

input{
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
